/* Theme colours */
$primary:       #3E4A80;
$secondary:     #636466;

$white:         #FFFFFF;
$red: 			#E22020;

$bg:            #F2F5F8;
$bg-dark:       #303136;

$blue-highlight: #6078E1;

$grey-dark:     #303136;
