.ContributeStep {
    &:before {
        background: url(../img/bg-shape-16.svg) no-repeat center top;
        background-size: 100% 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include bp(sm) { background-size: 100% 50%; }
    }

    section {
        padding: 0;
    }

    h4 {
        font-size: 22px;
        text-align: left;
        max-width: 100%;
    }
    p {
        color: $secondary;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.2px;
        line-height: 24px;
    }
    a {
        font-weight: 500;
        color: $primary;
    }


    /* BREADCRUMB */

    #Breadcrumb {
        padding: 230px 0 22px;

        @include bp(md) { padding-top: 150px }
        @include bp(sm) { padding-top: 100px }

        .container {
            padding: 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0 0 0 6px;

            li {
                color: $primary;
                display: inline-block;
                float: left;
                font-size: 12px;
                font-weight: 500;
                padding: 6px 14px;
                text-align: center;
                text-transform: uppercase;
                margin-left: -1px;
                position: relative;

                @include bp (xxs) { padding: 6px 10px; }
                
                &:before {
                    background: #F2F5F8;
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #D7D9E0;
                    left: 0;
                    top: 0;
                    -webkit-transform: skew(-20deg);
                    -moz-transform: skew(-20deg);
                    -o-transform: skew(-20deg);
                    z-index: -1;
                }

                i {
                    color: $primary;
                    font-size: 18px;
                }
                &:first-of-type {
                    color: $primary;
                    padding: 5px 10px;
                    width: 40px;
                    &:before {
                        background: $white;
                        height: 29px;
                    }
                }
                &.current:before {
                    background: #DDE8F6;
                }
                &.current ~ li {
                    display: none;
                }
            }
        }
    }


    /* STEP */

    .Step {
        background: $white;   
        display: none;
        opacity: 0;
        padding: 60px;
        margin-bottom: 120px;
        @include box-shadow(0 12px 34px rgba(62,74,128,0.06));
        @include slideIn();

        @include bp(sm) {
            padding: 30px 20px;
        }

        .bullet {
            display: block;
            padding-left: 26px;
            position: relative;
            &:before {
                border-color: transparent transparent transparent $secondary;
                border-width: 5px;
                border-style: solid;
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
            }
            p {
                font-weight: 500;
                margin-bottom: 10px;
            }
        }

        .terms-conditions {
            margin-top: 50px;
        }

        input[type="radio"] {
            position: absolute;
            left: -100%;
        }
        input[type="radio"]:checked + .contribution-method {
            .contribution-method-wrapper { border: 1px solid $primary; } 
        }
        .contribution-method {
            cursor: pointer;
            margin: 50px 0 0;
            &:first-of-type {
                padding-right: 20px;
            }
            &:last-child {
                padding-left: 20px;
            }
            
            &:hover {
                .contribution-method-wrapper { border: 1px solid #b8b9bf; } 
            }
            .contribution-method-wrapper {
                border: 1px solid #D7D9E0;
                padding: 28px;
                @include transition(all 0.2s ease-in-out);

                .contribution-method-title {
                    color: $primary;
                    display: block;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.2px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    text-align: center;
                }
                .contribute-method-logo {
                    height: 80px;
                    margin-bottom: 20px;
                    &.wide {
                        height: 56px;
                        margin-top: 24px;
                        img {
                            max-width: 200px;
                        }
                    }
                    img {
                        max-width: 100px;
                        margin: 0 auto;
                    }
                }
            }
        }

        #contribute-web3 {
            padding: 50px 0;
            max-width: 500px;
            margin: 0 auto;

            @include bp(sm) { 
                .input-group {
                    input {
                        margin-bottom: 10px !important;
                        width: 100% !important;
                        & + .tip {
                            right: 30px;
                            left: auto;
                        }
                    }
                    button {
                        width: 100%;
                    }
                }
            }

            .contribute-amount {
                color: $primary;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 0.7px;
                margin-bottom: 10px;
                text-transform: uppercase;
            }
            .contribute-gas {
                color: $secondary;
                font-size: 12px;
                font-weight: 300;
                letter-spacing: 0.2px;
            }
            .input-group {
                margin-bottom: 20px;
                overflow: visible;
            }
            input {
                border: 1px solid #D7D9E0;
                color: $secondary;
                font-size: 24px;
                font-weight: 300;
                padding: 22px;
                vertical-align: bottom;
                width: 280px;
                float: left;
                margin: 0 20px 0 0;

                & + .tip {
                    top: 22px;
                    left: 213px;
                    right: auto;
                }
            }
        }

        .contribute-addr {
            color: $primary;
            cursor: pointer;
            border: 1px solid #D7D9E0;
            font-size: 20px;
            letter-spacing: 0.2px;
            margin: 40px auto;
            padding: 15px;
            position: relative;
            text-align: center;
            max-width: 560px;
            word-break: break-word;
            i {
                position: absolute;
                top: 20px;
                right: -35px;
                @include bp(sm) { display: none; }
            }
        }

        .table-wrapper {
            background: #F2F5F8;
            overflow: auto;
            padding: 30px 40px;
            margin-bottom: 50px;
            
            table {
                width: 100%;
                
                tr {
                    &:not(:last-child) { border-bottom: 1px solid #E1E5E8; }
                    td {
                        font-size: 14px;
                        padding: 10px 0;
                        text-transform: uppercase;
                        &:first-child {
                            color: $primary;
                            font-weight: 500;
                        }
                        &:last-child {
                            color: $secondary;
                            font-weight: 300;
                            text-align: right;
                            word-break: break-word;
                        }
                    }
                }
               
            }
            
            @include bp(sm) {
                padding: 14px 20px;

                table {
                    tr {
                        display: block;
                        width: 100%;
                        td {
                            display: block;
                            width: 100%;
                            &:first-child {
                                padding: 8px 0 0;
                            }
                            &:last-child {
                                text-align: left;
                                padding: 0 0 8px;
                            }
                        }
                    }
                }
            }
        }

        .ctas {
            text-align: center;
            margin: 70px 0 40px;
            button:first-child {
                margin-right: 14px;
                margin: 0 14px 20px;
                margin-bottom: 20px;
            }
        }
    }
}
